
.fullScreenImg{
    width: 100%;
    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    left: 0;
}

.constructionWords{
    width: 400px;
    min-height: 100px;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    z-index: 160;
    font-size: 32px;
    font-weight: bold;
    background: #ccc;
    opacity: 0.7;
    box-shadow: 2px 2px 3px black;
}
