.mainHeaderWrapper{
    /* height: 60px; */
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}
.mainHeaderWrapper ul:hover{
    border-bottom: 5px solid grey;
}

.desktopNav{
    height: 50px;
    padding-top: 5px;
}

.headerLogo{
    width: auto;
    height: 50px;
    margin: 10px 0;

}

.mobileNav{
    width: 60px;
    height: 60px;
    display: none;
    position: absolute;
}

.hamMenu{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.rightMenu{
    width: 150px;
}

.searchGlass{
    height: 20px;
}

.mobileDropdown{
    width: 200px;
    height: fit-content;
    padding: 5px 0px;
    background: #333;
    position: absolute;
    top: 50px;
    left: -20px;
    border-top: 1px solid black;
    z-index: 5555;
}

.mobileDropdown p{
    background: #333;
    width: 100%;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 8px 0;
    color: white;
    font-weight: bolder;
}
.mobileDropdown p:hover{
    background: #888
}

.mobileDropdown a{
    color: #ddd;
    text-decoration: none;
    font-size: 19px;
}

@media(max-width: 815px){
    .mainHeaderWrapper{
        width: 90%;
        min-width: 320px;
    }

    .headerLogo{
        height: 30px;
        widows: auto;
        position: absolute;
        left: calc(50% - 30px);
        /* margin-top: 25px; */

    }
    .desktopNav{
        display: none !important;
    }
    .mobileNav{
        display: block;
        margin-top: -5px;
    }
    .rightMenu{
        height: 50px;
        width: 60px;
    }
    .searchGlass{
        display: none;
    }
}