.pfhSection{
    width: 100%;
    background: #444;
}
.pfhContentWrapper{
    max-width: 1300px;
    margin: 0 auto;
    width: 90%;
}
.pfhContentWrapper ul{
    padding: 10px;
}
.pfhContentWrapper li{
    font-size: 15px;
    margin: 10px 20px;
    color: #ccc;
    font-weight: lighter;
    user-select: none;
    transition: all .3s;
}
.pfhContentWrapper li:hover{
    color: #19f !important;
    cursor: pointer;
}