.loginWrapper{
  width: 100%;
  overflow: hidden;
}
#loginLandingSection{
  position: relative;
  border-top: 1px solid #999;
  transition: all .5s;
}
#loginLandingSection div{
  width: 10%;
  margin-left: 90%;
}

@media(max-width: 815px){
  #loginLandingSection div{
    width: 180px;
    margin-left: calc(100% - 180px);
  }
}